html, body {
    margin:0px;
    height:100%;
  }

#container   {
    background:red;
    height:100%;
  }

#shell {
    background: black;
    color: green;
    height: max-content;
    width: max-content;
}